body{
  font-family: 'Dancing Script';
	font-style: normal;
	font-variant: normal;
  padding: 0;
  margin: 0;
  margin-top: 0;
  padding: 10px;
  transition: margin;
  animation: animacion 4s;
}
@-webkit-keyframes animacion{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0;
  }
}
.contenedor{
  width:80%;
  margin:auto;
  overflow:hidden;
}
ul{
  margin: 0;
  padding: 0;
}
header{
  border-top-right-radius: 10px;
  border-top-left-radius:  10px;
  background-color: #5b7989;
  text-align: center;
  color: #ffffff;
  padding-top:30px;
  min-height:70px;
}
header a{
  text-decoration:none;
}
header li{
  float:left;
  display: inline;
  padding:  0 20px 0 20px;
}
header div nav{
  float: right;
  margin:10px;
}
header div h1{
  margin:0;
  float: left;
}
.titulo h1{
  text-shadow: 2px 2px #02010a;
}
header .actual a{
  font-weight:bold;
  text-decoration: none;
}
header a{
  color: #ffffff;
  text-decoration: underline;
}
header a:hover{
  color:#cccccc;
  font-weight:bold;
}
.contenedor #figuraIzq:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
}
.contenedor #figuraDer:hover {
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
}
#imagenSecundaria div{
  background-color: #d5c75f;
  text-align: center;
  float:left;
  width:50%;
}

#imagenesRetratos div{
  background-color: #d5c75f;
  text-align: center;
  float:left;
  width: 33%;
}
#imagenes .contenedor{
  background-color: #d5c75f;
  text-align: center;
  float:left;
  width: 33%;
}
#imagenes .contenedor img{
  width: 100%;
}
#imagenes .contenedor #figura1{
  -webkit-filter: blur(10px);
	filter: blur(10px);
}
#imagenes .contenedor #figura2, #figura4, #figura6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#imagenes .contenedor #figura3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
#imagenSecundaria img{
  width: 100%;
}
#imagenSecundaria a{
  text-decoration: none;
  text-decoration: underline;
  font-weight:bold;
  color: black;
}
#piePagina .contenedor{
  background-color: #C6d5c5;
  display: inline-block;
  border: 0;
  float:left;
  width: 25%;
  text-align: left;
}
footer{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #C6d5c5;
  clear: both;
  bottom: 0;
}
footer #piePagina{
  margin: 0 15px 15px 15px;
  height: 380px;
}
#imagenCentral div{
  background-color:#82c3a6;
  text-align: center;
  float: none;
  width: 100%;
}
#imagenCentral img{
  width: 100%;
}
@media(max-width: 768px){
  header div nav,
  header li,
  #piePagina .contenedor,
  #imagenesPaisajes .contenedor,
  #imagenesRetratos .contenedor,
  #imagenSecundaria .contenedor{
    float:  none;
    text-align: center;
    width: 100%;
  }
  footer #piePagina{
    height: 600px;
  }
}
